<div class="grid-item" title="info" id="info">
    <a class="info-el" href="/home" >Kontakt</a>
    <a class="info-el" href="/home">Newsletter</a>
    <a class="info-el" href="/home">Pretplati se</a>
</div>