<div class="grid-item" title="header" id="header">
    <div class="flex-item" title="logo-cont" id="logo-cont">
        <a href="/"><img class="logo" id="logo" src="images/logo/logo.png" alt="Airsoft mask logo"/></a>
    </div>
    
    <div class="flex-item" title="current-category-cont" id="current-category-cont">
        <h1 class="current-category" id="current-category"></h1>
    </div>
    
    <div class="flex-item" title="cart-search" id="cart-search">
        <a id="link" href="/cart"><img class="icon" id="cart-icon" src="images/icons/shopping-cart.png"/></a>
        <img class="icon" src="images/icons/search.png"/>
    </div>
</div>