.body {
    background-color: rgb(46, 44, 44);
}

.main-layout {
    display: grid;
    gap: 15px;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

#header {
    margin-top: -15px;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgb(37, 37, 35);
    grid-column: 1 / 20;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

#logo-cont {
    background-color: orangered;
    margin: 0.5em;
    border-color: black;
    border-style: dashed;
}

.logo {
    height: 5em;
}

#current-category-cont {
    width: 30%;
    text-align: center;
    background-color: orangered;
    margin: 0.5em;
    padding-left: 1vw;
    padding-right: 1vw;
}

#cart-search {
    position: relative;
    background-color: orangered;
    margin: 0.5em;
    padding-left: 1vw;
    padding-right: 1vw;
}

.icon {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#categories  {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color:aliceblue;
    grid-area: 2 / 1 / 6 / 3;
    padding-left: 3%;
    padding-right: 3%;
}

.category {
    box-sizing: border-box;
    width: 100%;
    margin-top: 2px;
    background-color: aliceblue;
    border-color: lightgrey;
    border-style: solid;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.category:hover {
    background-color: orangered;
    font-weight: bold ;
    transition: 0.1s;
}

#shop-img {
    position: relative;
    background-color: rgba(240, 248, 255, 0);
    grid-area: 2 / 3 / 4 / 20 ;
}

.background_img {
    max-width: 100%;
    height: auto;
}

.greeting {
    position: absolute;
    top: 2%;
    left: 1%;
    background-color: aliceblue;
    padding: 1%;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.greeting:hover {
    opacity: 0;
    transition: 1s;
}

#info {
    background-color: aliceblue;
    grid-area: 8 / 1 / 9 / 3;
}

.info-el {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    grid-area: 4 / 3 / 9 / 20;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    width: 15%;
    height: 230px;
    max-height: 40%;
    
    background-color: rgba(247, 118, 6, 0.982);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    margin: 2em;
    /* display: flex;
    flex-direction: column;
    position: relative;
    width: 15%;
    max-height: 40%;
    
    background-color: rgba(247, 118, 6, 0.982);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    margin: 2em; */
}

.prod-img-cont {
    position: relative;
    border-style: solid;
    background-color: cornsilk;
    border-width: 2px;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
    max-height: 40%;
    /* position: relative;
    border-style: solid;
    background-color: cornsilk;
    border-width: 2px;
    margin: 0.5em;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 90%;
    height: 50%; */
}

.product-img {
    justify-self: center;
    max-width: 90%;
    max-height: 80%;
    margin: auto;
    /* justify-self: center;
    max-width: 90%;
    max-height: 90%;
    margin: auto; */
}

.prod-img-cont:hover .shopping-cart-add{
    opacity: 100;
}

.shopping-cart-add {
    max-width: 20%;
    position: absolute;
    bottom: 5%;
    left: 38%;
    opacity: 0;
}

.shopping-cart-add:hover {
    cursor: pointer;
}

.product-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

.product-name {
    margin: 5%;
    font-size: large;
    max-width: 95%;
    max-height: 35%;
    /* width: 100%;
    height: auto;
    bottom: 9%;
    font-size: larger; */
}
.category-name {
    margin: 5%;
    font-size: large;
    max-width: 95%;
    max-height: 35%;
    /* bottom: 1px;
    height: auto;
    font-size: large;
    width: 100%; */
}

#total_quantity {
    background-color: black;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    left: 32%;
    bottom: 14%;
}

.quantity {
    background-color: black;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    right: 3%;
    top: 3%;
}
#info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-el {
    text-align: center;
}