<!DOCTYPE html>
<head>
    <title>Airsoftgear-Cart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="stylesheet" href="styles/desktop_cart.css">
    <link rel="stylesheet" href="styles/mobile_cart.css" media="screen and (max-width: 1024px)">
     
    <script type="module">
        import {display_cart_dynamic} from "../scripts/update_cart_contents.js";
        window.display_cart_dynamic = display_cart_dynamic
    </script>
</head>


<body class="body" onload="display_cart_dynamic()"> 
    <div class="main-layout">

        <%- include(`partials/header`); %>
         
        <div id="cart_display">
            <h1 id="title">Sadržaj košarice</h1>
            <div id="cart-contents">
                <div id="contents-header">
                    <p id="naziv-pr">NAZIV PROIZVODA</p>
                    <p id="kol-pr">KOLIČINA</p>
                </div>
                <div id="items">
                </div>
               
            </div>
    </div>

    </div>
    
</body>