<!DOCTYPE html>
<head>
    <title>Airsoftgear</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="stylesheet" href="styles/desktop.css">
    <link rel="stylesheet" href="styles/mobile.css" media="screen and (max-width: 1024px)">
     
    <script type="module">
        import { update_displayed_category, do_onload } from "../scripts/update_home_contents.js";
        window.update_displayed_category = update_displayed_category;
        window.do_onload = do_onload;
    </script>

</head>

<body class="body" onload="do_onload()"> 
    <div class="main-layout">
        
        <%- include(`partials/header`); %>
        
        <div class="grid-item" title="categories" id="categories">
            
        </div>
            
        <div class="grid-item" title="shop-img" id="shop-img">
            <img src="images/background/sniper.jpg" class="background_img"/>
            <p class="greeting">Welcome to the home of Airsoft!</p>
        </div>
            
        <%- include(`partials/footer`); %>
        
        <div class="grid-item" title="products" id="products">
           
        </div>
    </div>
    
</body>